import React, { Component } from 'react';
import Types from 'prop-types';

export default class {{ name }} extends Component {
  render() {
    const {
    {{ #variables }}
      {{name}},
    {{ /variables }}
    } = this.props;

    return;
  };
};

{{ name }}.propTypes = {
{{ #variables }}
  {{name}}: Types.{{value}},
{{ /variables }}
};
