{{#propTypes}}
export interface Props {
  {{name}}: {{value}};
};
{{/propTypes}}

class {{name}} implements Props {
{{#propTypes}}
  {{name}}: {{value}};
{{/propTypes}}
  constructor() {}
  
}

{{#props}}
{{.}}
{{/props}}

{{title}}