export interface Props {
{{#props}}
  {{name}}: {{value}};
{{/props}}
};

export default class {{name}} implements Props {
{{#props}}
  {{name}}: {{value}};
{{/props}}
  constructor() {
  {{#props}}
    this.{{name}} = '';
  {{/props}}
  }
}