import * as React from 'react'

interface Props {
{{#props}}
  {{name}}: {{value}};
{{/props}}
}

const {{name}} = ({ {{#props}}{{name}}, {{/props}} }: Props): React.Node => {
  return ()
}

export default {{name}};