import React from 'react';
import PropTypes from 'prop-types';

/**
* {{description}}
* @class {{name}}
* @returns {ReactComponent} Component - A React.js component
*/
export default class {{name}} extends React.Component {

  static propTypes = {
  {{#props}}
    {{name}}: PropTypes.{{type}}.isRequired,
  {{/props}}
  }

  render() {
    let {
    {{#props}}
      {{name}},
    {{/props}}
    } = this.props;

    return (
      <>
      {{name}}
      </>
    )
  }
};