# {{ name }}

{{ #description }}
  {{ description }}
{{ /description }}
{{ ^description }}
  Description goes here
{{ /description }}

## API

```tsx
interface {{ name }}Props {}
```

## Usage

```tsx
<{{ name }} />
```
