// @flow

import * as React from 'react';

{{#props}}
type Props = {
  {{name}}: {{type}},
};
{{/props}}

/**
* {{description}}
* @class {{name}}
* @returns {ReactComponent} Component - A React.js component
*/
export default class {{name}} extends React.Component<{{#props}}Props{{/props}}, {}> {
  render() {
    {{#props}}
    const {
      {{name}},
    } = this.props;
    {{/props}}

    return (
      <>
      {{name}}
      </>
    )
  }
};